.pricing
{
    width: 100%;
    height: 900px;
    background-color: #F5F5F5;
}

.pricing__body
{
    width: 1180px;
    margin: auto;
}

.pricing__information
{
    display: flex;
    width: 1170px;
    margin-top: 79px;
    justify-content: space-between;  
}

.pricing__column
{
    margin: auto;
    display: inline-flex;
    align-items: center;
    width: 370px;
    flex-direction: column; 
}

.pricing__column:hover {
    box-shadow:
      1px 1px rgba(132, 132, 132, 0.5),
      2px 2px rgba(132, 132, 132, 0.5),
      3px 3px rgba(132, 132, 132, 0.5),
      4px 4px rgba(132, 132, 132, 0.5),
      5px 5px rgba(132, 132, 132, 0.5),
      6px 6px rgba(132, 132, 132, 0.5),
      7px 7px rgba(132, 132, 132, 0.5);
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }

.pricing__column_name
{
    width: 370px;
    justify-content: center;
    height: 60px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.pricing__column_cost
{
    width: 370px;
    justify-content: center;
    height: 100px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.pricing__column_discription
{
    width: 370px;
    justify-content: center;
    height: 50px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

}

.pricing__column_provide
{
    width: 370px;
    justify-content: center;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #86878B;

}

